.page-wrapper {
  width: 80%;
  max-width: 1280px;
  margin: auto; 
}

#zen-intro {
  height: 550px;
}

#design-archives {
  display: none;
}

#zen-intro header {
  background: #1f295c;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

#zen-intro header h1,
#zen-intro header h2 {
  display: inline-block;
  margin: 0;
}

#zen-intro header h1 {
  margin-left: 1em;
  margin-right: 1em;
}

aside ul {
  list-style: none; 
  padding: 0;
}

aside ul li + li {
  margin-top: 1em; 
}

aside ul li {
  text-align: center;
}

footer {
  background: #1f295c;
  color: yellow;
  margin: 4%;      
  padding: 1em;
  text-align: center;
}

footer a {
  display: inline-block;
  border: 2px solid yellow;
  padding: 0.5em;
  margin: 0.5em;
  text-decoration: none;
  color: yellow;
}
